<form class="form-horizontal" role="form" name="superheroForm" ng-submit="submitSuperHero(superheroForm.$valid)">
<fieldset>

<!-- Form Name -->
<legend>New Super Hero</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="hero_name">Super Hero Name</label>  
  <div class="col-md-4">
  <input id="hero_name" name="hero_name" type="text" placeholder="super hero name" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="real_name">Given Name</label>  
  <div class="col-md-4">
	  <input id="real_name" name="real_name" type="text" placeholder="given name" class="form-control input-md" required="">
  </div>
</div>

<!-- Multiple Radios (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="gender">Gender</label>
  <div class="col-md-4"> 
    <label class="radio-inline" for="gender-0">
      <input type="radio" name="gender" id="gender-0" value="Male" checked="checked">
      Male
    </label> 
    <label class="radio-inline" for="gender-1">
      <input type="radio" name="gender" id="gender-1" value="Female">
      Female
    </label>
  </div>
</div>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="attribute.intelligence">Intelligence</label>  
  <div class="col-md-4">
  <input id="attribute.intelligence" name="attribute.intelligence" type="number" placeholder="100" class="form-control input-md" required="">
  </div>
</div>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="attribute.strength">Strength</label>  
  <div class="col-md-4">
  <input id="attribute.strength" name="attribute.strength" type="number" placeholder="100" class="form-control input-md" required="">
  </div>
</div>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="attribute.speed">Speed</label>  
  <div class="col-md-4">
  <input id="attribute.speed" name="attribute.speed" type="number" placeholder="100" class="form-control input-md" required="">
  </div>
</div>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="attribute.durability">Durability</label>  
  <div class="col-md-4">
  <input id="attribute.durability" name="attribute.durability" type="number" placeholder="100" class="form-control input-md" required="">
  </div>
</div>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="attribute.power">Power</label>  
  <div class="col-md-4">
  <input id="attribute.power" name="attribute.power" type="number" placeholder="100" class="form-control input-md" required="">
  </div>
</div>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="attribute.combat">Combat</label>  
  <div class="col-md-4">
  <input id="attribute.combat" name="attribute.combat" type="number" placeholder="100" class="form-control input-md" required="">
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="powers">Powers</label>  
  <div class="col-md-4">
  <textarea id="powers" name="powers" class="form-control input-md" placeholder="separate each power with a ';'"required=""></textarea>  
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="weaknesses">Weaknesses</label>  
  <div class="col-md-4">
  <textarea id="weaknesses" name="weaknesses" class="form-control input-md" required="" placeholder="separate each weakness with a ';'"></textarea>  
  </div>
</div>
<!-- Button -->
<div class="form-group">
  <div class="col-md-4">
    <button id="submit" type="submit" name="submit" class="btn btn-primary" ng-disabled="superheroForm.$invalid">Submit</button>
  </div>
</div>
</fieldset>
</form>

